
{% load static %}
<!doctype html>
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static "jaqa/temp.css" %}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"  type="application/javascript" src="{% static "jaqa/temp.js" %}"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
<html lang="en">

<div class="container" style="text-align:center">

  <div class="row" style="padding:2%">
      <div class="col-xs-8 col-xs-offset-2">
  <h2 style="color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px;">Search your queries here </h2>
  </div>

<br>
<br>
<br>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group" style="padding-left:18%" style="color: #c73036; font-family: "Helvetica Neue", sans-serif; font-weight: bold; text-decoration: none; text-transform: uppercase;">
                <div class="input-group-btn search-panel" >
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Model</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#supervised">Supervised</a></li>
                      <li><a href="#unsupervised">Unsupervised</a></li>
                    </ul>
                </div>
                <div class="input-group-btn search-panel2">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept2">Encoding</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu " role="menu">
                      <li><a href="#infersent">Infersent</a></li>
                      <li><a href="#unisent">UniSent</a></li>
                    </ul>
                </div>

                <form action="/jaqa/query" method="post">
                    <div style="float:left;width:60%" class="form1">
                {% csrf_token %}{{ form }}
                </div>
                <div style="float:left;">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            </form>
            </div>
        </div>
	</div>
</br>
</br>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
    {% if answer %}
    <!-- <p style="color: #7a7c7f; font-size: 29px; font-family: "Libre Baskerville", serif; line-height: 45px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 20px;" >{{ answer }}</p> -->
      <ul class="list-group">
      {% for a in answer %}
      <li style="color: #7a7c7f; font-size: 20px; font-family: 'Libre Baskerville', serif; line-height: 45px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 20px;" class="list-group-item">{{ a }}</li>
      {% endfor %}
    </ul>
    <!-- </p> -->
    {% endif %}
    </div>
</div>
</div>
</html>
